<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href=/favicon.ico>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %> -->
</head>
<body>
    <div id="root"></div>
    <div id="modal"></div>
</body>
<!-- <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script type="text/javascript" src="<%=htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %> -->
</html>