html body{
  margin: 0;
}

header{
  text-align: center;
}

h1{
  font-size: 60px;
  line-height: 1;
  font-weight: lighter;
  color:#f0f0f0;
  padding: 20px 0;
  background-color: #1d3916;
  margin: 0
}

hr{
  margin: 0
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.left{
  float: left;
}

.right{
  float: right;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0
}

.nav li {
  width: 200px;
  text-align: center
}

.nav li a {
  text-decoration: none;
  font-size: 18px;
  line-height: 2;
  color: #333
}

.nav li .active{
  color: #1d3916;
  border-bottom: 1px solid #1d3916
}

.container{
  display: flex;
  background-color: #f5f5f5;
  min-height: calc(100vh - 166px)
}

.memo_content{
  width: 100%;
  padding: 0;
  margin: 0
}

.memo_item{
  padding: 20px 100px
}

.memo_item h5 a{
  font-size: 16px;
  color: #545454;
  text-decoration: none
}

.memo_content li:nth-child(even){
  color: #1d3916;
  background: #fff
}

.add_memo{
  width: 132px;
  font-size: 16px;
  line-height: 2;
  background: #1d3915;
  color: #fff;
  border-radius: 6px;
  position: fixed;
  left: calc(50% - 66px);
  bottom: 20px;
  border: none
}

.new_memo{
  width: 500px;
  height: 400px;
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 250px);
  background: #fff;
  box-shadow: 0 0 10px 0px #ccc;
}

.item_details{
  overflow: hidden;
  color: #0000006b
}

.projectBox{
  float: left;
  width: 30%;
  height: calc(100vh - 200px);
  padding: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.project{
  width: 250px;
  float: right;
  list-style: none;
  font-size: 16px;
  line-height: 50px;
  margin: 0;
  cursor: pointer;
  color: #6c6c6c;
}

.project h5{
  font-size: 20px;
  line-height: 59px;
  border-bottom: 1px solid #ccc;
  margin: 0 0 20px;
}

.project li{
  padding: 0 10px;
  cursor: pointer;
}

.project li:hover,.project_active{
  color: #1d3916;
  background: #fff;  
}

/* .add_project::before{
  content: '+';
  width: 20px;
  height: 20px;
  background: #1d3916;
  display: block;
  color: #fff
} */


.add_project_input{
  width: 100%;
  line-height: 24px;
  padding: 0 10px;
  box-sizing: border-box
}

.add_project_btn{
  padding: 5px 10px;
  border:1px solid #1d3916;
  color: #1d3916;
  border-radius: 4px;
  transition: all .5s;
  cursor: pointer;
}

.add_project_btn:hover{
  background: #1d3916;
  color: #fff
}

.add_project_btn:active,.add_project_btn:focus{
  outline: none
}







.Box{
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1); */
  float: left;
  padding: 50px;
  min-width: 500px;
  background: #fff;
}


.listBox{
  width: 100%;
}

.listBox>div{
  font-size: 20px;
  line-height: 3;
  border-bottom: 1px solid #e0e0e0;
}

.left{
  float: left;
}

.right{
  float: right;
}

.inputBox{
  position: relative;
}

.input{
  font-size: 24px;
  font-weight: lighter;
  width: 100%;
  height: 60px;
  padding-left: 30px;
  box-sizing: border-box;
}

.input::-webkit-input-placeholder{
  color: #ccc;
}

.input:active,.input:focus{
  outline: none
}

.allChecked{
  width: 20px;
  height: 20px;
  display: block;
  content: '';
  position: absolute;
  top: 20px;
  left: 10px;
  transform: rotate(90deg)
}

.checked:checked {
  background:#67945d;
  border: none;
}
.checked:focus{
  outline: none;
}
.checked {
	width:24px;
	height:24px;
	background-color:#ffffff;
	border:solid 1px #dddddd;
	-webkit-border-radius:50%;
	border-radius:50%;
	font-size:0.8rem;
	margin:13px;
	padding:0;
	position:relative;
	display:inline-block;
	vertical-align:top;
	cursor:default;
	-webkit-appearance:none;
	-webkit-user-select:none;
	user-select:none;
	-webkit-transition:background-color ease 0.1s;
	transition:background-color ease 0.1s;
}
.checked:checked::after {
	content:'';
	top:6px;
	left:6px;
	position:absolute;
	background:transparent;
	border:#fff solid 2px;
	border-top:none;
	border-right:none;
	height:6px;
	width:10px;
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.item_checked{
  margin: 18px;
}

footer{
  line-height: 50px;
  height: 50px;
}

footer h3{
  color: #ccc;
  font-weight: bold;
  text-align: center;
}


.btns div {
  line-height: 28px;
  float: left;
  padding: 0 10px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 4px;
  margin-top: 11px;
}

.btns div:hover {
  border-radius: 4px;
  background: #a0d095;
  color: #fff;
}

.activeBtn{
  background: #a0d095;
  color: #fff
}

.cancle{
  transform: rotateZ(45deg) scale(1.5);
  margin-right: 20px;
  cursor: pointer;
}

.line_through{
  text-decoration: line-through;
  color: #ccc;
}

.delect_btn{
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid #a0d095;
  margin-left: 20px;
  transition: all .5s;
  cursor: pointer;
}

.delect_btn:hover{
  background: #a0d095;
  color: #fff;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
